.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background: #f8f8f8;
  border-left: 1px solid #ddd;
}

.draggable-block {
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.blockA {
  background-color: #c4f0c5;
}

.blockB {
  background-color: #ceb0ff;
}


.canvas {
  flex: 1;
  position: relative;
}
